name: CI

on:
    push:
        branches:
            - main
    pull_request:
        branches:
            - main

jobs:
    ci:
        runs-on: ubuntu-latest

        steps:
            - uses: actions/checkout@v4

            - uses: denoland/setup-deno@v2
              with:
                  deno-version: v2.x

            - name: Cache Deno dependencies
              uses: actions/cache@v4
              with:
                  path: ~/.cache/deno
                  key: deno-${{ hashFiles('deno.lock') }}
                  restore-keys: deno-

            - run: deno task fmt:check && deno task lint && deno task test
